<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <!-- Environment defaults for the test suite; individual tests may override. -->
        <env name="SMTP_PASSWORD" value="env-secret-value"/>
        <env name="OAUTH_CLIENT_ID" value="env-client-id"/>
        <env name="OAUTH_CLIENT_SECRET" value="env-client-secret"/>
        <env name="OAUTH_REFRESH_TOKEN" value="env-refresh-token"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>src/functions.php</file>
        </include>
    </source>
</phpunit>
